body {
    background: blue;
    font-family: Verdana;
  }
  
  .menu {
    background-color: white;
  }
  
  .menu ul {
    display: flex;
    justify-content: space-around;
   
  }
  
  a {
    color: teal;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .menu li {
    list-style: none;
  }
  
  .site-subtitle,
  .site-title {
   text-align: center;
   color: whitesmoke;
  }
  
  .site-subtitle {
    font-style: italic;
  }